<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit Username with id <%= data.id%></h1>
    <form action="/users/<%=data.id %>?_method=PATCH" method = "post">
        <input name="username">
        <button>Change</button>
    </form>
</body>
</html>