<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add nee Entry</title>
</head>
<body>
    <h1>new entry</h1>
    <form action = "/users" method = "post">
        <h4>enter username: </h4>
        <input name="username">
        <br>
        <h4>enter email: </h4>
        <input name = "email">
        <br>
        <h4>enter password:</h4>
        <input name = "password" type="password">
        <br>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>